def/carnet/carnet.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT carnet (type, contact*)>
<!ELEMENT type (#PCDATA)>
<!ELEMENT contact (nom, prenom, telephone, information*)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT prenom (#PCDATA)>
<!ELEMENT telephone (#PCDATA)>
<!ELEMENT information (libelle, texte)>
<!ELEMENT libelle (#PCDATA)>
<!ELEMENT texte (#PCDATA)>
